.gitignore
*~
*.exe
*/src/*.exe
*/.DS_Store
.DS_Store
apps/amoebapix/.ipynb_checkpoints
apps/amoebapix/.ipynb_checkpoints/*
apps/geopdem/.ipynb_checkpoints
apps/geopdem/.ipynb_checkpoints/*triangulation
docs/triangulation
docs/triangulation/*
sharpen/rampsharp0.m
sharpen/rampsharp1.m
triangulation
triangulation/*
